<table border="1">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </thead>
    <tbody>
    {{#members}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{age}}</td>
        </tr>
    {{/members}}
    </tbody>
</table>